--exclude .build
--exclude .SDKs
--indent tab
--tabwidth 4
--indentcase false
--trimwhitespace always
--nospaceoperators ..<,...
--ifdef noindent
--stripunusedargs closure-only
--disable andOperator
--patternlet inline
--swiftversion 5.2
